html, body
	width: 100%
	margin: 0px

blue = #23466d
black = #222
white = #e8e8e8
grey = #d6d6d6
dark = #5e5e5e

#logo
	color: white
	float: left
	line-height: 50px
	
	font-size: 1.6em
	font-style: italic
	

#buildIcon
	color: white
	float: left
	line-height: 50px
	margin-left: 5%
	margin-right: 8px

#beck
	color: blue
	font-weight: bold

#nav 
	background-color: black
	width: 100%
	height: 50px
	border-bottom: 1px solid #151515
	border-top: 2px solid #151515
	//position: fixed

#button
	display: none

#menu
	display: none
	


a
	text-decoration: none


#rgt
	margin-right: 60px

.Home
	float: right
	color: white
	z-index: 10
	height: 50px
	width: 10%
	background-color: black
	border-bottom: solid #151515 1px
	text-align: center
	line-height: 50px
	margin-top: 0px
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
	font-size: 1em

.Home:hover
	background-color: #2b2b2b
	border-bottom: solid #2b2b2b 1px
	color: greys

#headImg
	diplay: block
	width: 100%
	heigh: auto

#headImg, img
	width: 100%
	height: auto