#hide-off-pad
	display:none

#headImg
	display: none

html, body
	width: 100%
	margin: 0px

blue = #23466d
black = #222
white = #e8e8e8
grey = #d6d6d6
dark = #5e5e5e

#logo
	color: white
	float: left
	line-height: 50px
	
	font-size: 1.6em
	font-style: italic
	

#buildIcon
	color: white
	float: left
	line-height: 50px
	margin-left: 5%
	margin-right: 8px

#beck
	color: blue
	font-weight: bold

#nav 
	background-color: black
	width: 100%
	height: 50px
	border-bottom: 1px solid #151515
	//position: fixed

#button
	color: white
	font-size: 1.5em
	float: right
	margin-right 5%

#button:hover
	color: blue
	cursor: pointer


#menu
	display:none
	overflow: hidden

#menuList
	list-style-type: none
	background-color: black
	width: 100%
	//padding-top: 15px
	padding-bottom: 10px
	margin: 0
	border-bottom: 2px solid #b7b7b7
	border-top: 1px solid #333333
	color: grey
	font-size: 14px
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif


#menuItem:hover
	background-color: white
	color: black
	cursor: pointer

#menuItem
	width: 100%
	margin-bottom: 10px
	color: grey
	padding-top: 12px
	margin-top: 5px
	padding-bottom: 12px
	padding-left: 51px
	//margin-left: -41px
	


a
	text-decoration: none

#testIcon
	float: left
	color: #141414
	margin-left: -27px
	line-height: 40px

#faHome
	float: left
	color: #141414
	margin-left: -27px
	line-height: 50px

#testIcon:hover
	color: black